table {
    border-collapse: collapse;
    width: 1500px;
    height: 400px;
    border: 1px solid black;
    text-align: center;
}


th, td {
    border: 1px solid black;
} 
.border__bottom {
    border-bottom: 3px solid black;
}